.App {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #dddddd;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-content-row {
  display: grid;
  grid-template-columns: 64vw 34vw;
  column-gap: 20px;
}

.chart {
  background-color: white;
  border-radius: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  position: relative;
}

.chart-title {
  color: #7f91af;
  font-size: 26px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 15px;
}

.chart-header {
  margin: 0 0 20px 80px;
  display: grid;
  grid-template-columns: auto;
}

.chart-general-details {
  display: grid;
  margin-right: 40px;
  grid-template-columns: 48% 48%;
  column-gap: 2%;
}

.detail-value {
  color: #666666;
  text-align: left;
  font-size: 25px;
  font-weight: 700;
}

.detail-info {
  color: #999999;
  font-size: 15px;
  font-weight: 600;
}

.select-network {
  font-size: 23px;
  position: absolute;
  background-color: #ffe9e9;
  height: 100%;
  color: #666666;
  cursor: pointer;
}

.select-network:hover {
  background-color: #fff2f2;
  color: rgb(156, 108, 108);
}

#turn-left-network {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin-left: -20px;
}

#turn-right-network {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  right: 0;
}

.not-allowed-cursor {
  cursor: not-allowed;
}

.disks-io-charts {
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 1% black;
  margin-left: 15px;
}

.all-drives-chart {
  display: grid;
  grid-template-columns: 18% 78%;
  column-gap: 4%;
  margin: 10px;
}

.bar-percent-chart {
  background-color: #f1f1f1;
  width: 90%;
}

.chart-child-title {
  font-size: 20px;
  color: #498bc5;
  font-weight: 600;
  margin-bottom: 30px;
}

.all-drives-chart-title {
  color: #6b7389;
  font-weight: 600;
}

.stat-all-drives {
  font-size: 22px;
  margin-top: 30px;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.bar-chart {
  width: 90%;
  display: grid;
  grid-template-columns: 85% 13%;
  column-gap: 2%;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 16px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkbox-name {
  color: #272727;
  display: inline;
}

.selection-checkbox {
  display: grid;
  grid-template-columns: 36px auto;
  column-gap: 4%;
}

table {
  border-collapse: collapse;
  border-radius: 15px;
  border-style: hidden;
  box-shadow: 0 0 0 1px rgb(189, 189, 189);
}

td, th {
  border: 1px solid rgb(189, 189, 189);
}

.see-more {
  border: 1px solid rgb(221, 221, 221);
  width: 50%;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  color: white;
}

.see-more.active:hover {
  background-color: rgb(216, 122, 0);
}

.see-more.inactive {
  cursor: not-allowed;
  background-color: #8b8b8b;
}

.see-more.active {
  cursor: pointer;
  background-color: #4c487e;
}

.font-size-15 {
  font-size: 15px;
}

select {
  outline: none;
}

input, textarea, select {
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
}