.modal-detail-part {
  cursor: pointer;
  margin-bottom: 10px;
  color: rgb(83, 83, 83);
  font-size: 17px;
  width: fit-content;
  display: flex;
}

.modal-detail-part:hover {
  color:rgb(39, 39, 39);
}

.modal-detail {
  margin: 15px 0 15px 15px;
}

.modal-detail-body {
  overflow: hidden;
  margin-left: 10px;
}

.delete-button {
  border-radius: 5px;
  background-color: rgb(99, 99, 99);
  width: fit-content;
  padding: 8px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: rgb(46, 46, 46);
}

.bindings-body {
  display: grid;
  grid-template-columns: 40% 10% 40%;
  column-gap: 5%;
}

.unbind-button {
  border-radius: 8px;
  background-color: rgb(146, 146, 146);
  width: fit-content;
  padding: 3px;
  cursor: pointer;
  color: white;
  font-size: 13px;
}

.unbind-button:hover {
  background-color: #535353;
}

.title-add-binding {
  margin: 20px 0 10px 0;
}